.titletext{ 
        background: linear-gradient(90deg, rgba(255,184,70,1) 0%, rgba(5,12,156,1) 37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transform: translateY(25px);
        animation: slide 1s ease-out forwards;
}

.producttext{
    font-size: 56px;
    opacity: 0;
    transform: translateY(25px);
    animation: slide 1s ease-out forwards;
}

.fish-sell{
    opacity: 0;
    transform: translateY(25px);
    animation: slide 1s ease-out forwards;
    animation-delay: 1s;
    position: relative;
}

.ikan-text{
    font-size: 32px;
    color: white;
}


.button-buy{
    color: white;
    display: inline-block;
    font-size: 32px;
    padding: 10px 60px;
    border: 2px solid white;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-buy:hover{
    background-color: white;
    color: #050C9C;
}

@keyframes slide {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

