@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'inconsolata';
  src: url('./fonts/Inconsolata_Condensed-Bold.ttf') format('truetype'),
  url('./fonts/Inconsolata_Condensed-Light.ttf') format('truetype'),
  url('./fonts/Inconsolata_Condensed-Medium.ttf') format('truetype');  
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: 'inconsolata';
}


